<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event App</title>
</head>

<body>
  <h1>Lista de Eventos</h1>
  <h2><a href="/createEvent">Criar Evento</a></h2>

  <div th:each="event : ${events}">
    <div class="row">
      <p><span th:text="${event.name}"></span></p>
      <p><span th:text="${event.place}"></span></p>
      <p><span th:text="${event.date}"></span></p>
      <p><span th:text="${event.time}"></span></p>
    </div>
  </div>


</body>

</html>