<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/DefaultLayout :: default-layout(~{::title}, ~{::section})}">

<head>
	<title>Event App</title>
</head>

<body>

	<section class="container">

		<h1>Lista de Eventos</h1>

		<a th:href="@{/createEvent}" class="waves-effect waves-light btn"><i
				class="material-icons left">add_circle_outline</i>Cadastrar Evento</a>

		<div id="table-container">
			<table>
				<thead>
					<tr>
						<th>Nome do Evento</th>
						<th>Local</th>
						<th>Data</th>
						<th>Horário</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(events)}">
						<td colspan="5" style="text-align: center;">Não existem eventos cadasatrados no momento! <a
								th:href="@{/createEvent}">Clique aqui</a> para cadastrar um evento.</td>
					</tr>
					<tr th:each="event : ${events}" th:unless="${#lists.isEmpty(events)}">
						<td><span th:text="${event.name}"></span></td>
						<td><span th:text="${event.place}"></span></td>
						<td><span th:text="${#temporals.format(event.date, 'dd/MM/yyyy')}"></span></td>
						<td><span th:text="${event.time}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>

</body>

</html>