<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/DefaultLayout :: default-layout(~{::title}, ~{::section})}">>

<head>
	<title th:text="${'Evento | ' + event.name}"></title>
</head>

<body>

	<section class="container">

		<th:block th:include="~{/layout/fragments/successMessage}">
		</th:block>
		<th:block th:include="~{/layout/fragments/successMessage}">
		</th:block>

		<div class="row" style="margin-top: 20px;">
			<div class="col s12">
				<div class="card">
					<div class="card-content">

						<header class="row">
							<span class="card-title">Detalhes do Evento:</span>
							<p><strong>Nome: </strong><span th:text="${event.name}"></span></p>
							<p><strong>Local: </strong><span th:text="${event.place}"></span></p>
							<p><strong>Data: </strong><span th:text="${#temporals.format(event.date, 'dd/MM/yyyy')}"></span></p>
							<p><strong>Horário: </strong><span th:text="${event.time}"></span></p>
						</header>
					</div>
					<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<li class="tab"><a class="active" href="#test4">Convidados</a></li>
							<li class="tab"><a href="#test5">Cadastrar Convidados</a></li>
						</ul>
					</div>
					<div class="card-content grey lighten-4">
						<div id="test4">
							<ul class="collection" th:each="guest : ${event.guests}">
								<li class="collection-item avatar">
									<i class="material-icons circle">account_circle</i>
									<span class="title" th:text="${guest.name}"></span>
									<p th:text="${guest.email}"></p>
									<a th:href="@{/eventos/{idEvent}/convidados/{idGuest}/remove(idEvent=${guest.event.id},idGuest=${guest.id})}" class="secondary-content"><i
											class="material-icons">delete</i></a>

								</li>
							</ul>
						</div>
						<div id="test5">
							<form th:action="@{/eventos/{codigo}/convidados/cadastro(codigo=${event.id})}"
								method="post">
								<div class="row">
									<div class="input-field col s6">
										Nome: <input type="text" tabindex="1" name="name" autofocus />
									</div>
									<div class="input-field col s6">
										Email: <input type="text" tabindex="2" name="email" />
									</div>
								</div>

								<button type="submit" class="waves-effect waves-light btn" readonly
									tabindex="5">Cadastrar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>