<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Evento - Event App</title>
</head>

<body>

  <h1>Cadastro de Eventos</h1>
  <form action="" method="post">
    Nome: <input type="text" value="" name="name" />
    Local: <input type="text" value="" name="place" />
    Data: <input type="date" value="" name="date" />
    Horário: <input type="datetime" value="" name="time" />
    <button type="submit">Enviar</button>
  </form>

</body>

</html>